<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <title>Coding challenge</title>
</head>

<body>
     <div class="container">
          <h2 class="heading">Discussions</h2>
          <div class="new-comment-container">
               <div class="profile-pic-container">
                    <img src="/img/profile-pics/1.jpg" alt="profile-picture">
               </div>
               <div class="comment-input-container">
                    <input type="text" placeholder="What are your thoughts?">
               </div>
               <div class="submit-button-container">
                    <button class="submit-button">Comment</button>
               </div>
          </div>
     </div>
</body>

</html>