<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <title>Coding challenge</title>
</head>

<body>
     <div class="container">
          <h2 class="heading">Discussions</h2>
          <div class="new-comment-container">
               <div class="profile-pic-container">
                    <img src="/img/profile-pics/1.jpg" alt="profile-picture">
               </div>
               <div class="comment-input-container">
                    <input type="text" placeholder="What are your thoughts?">
               </div>
               <div class="submit-button-container">
                    <button class="submit-button">Comment</button>
               </div>
          </div>
          <div class="comments-container">
               <div class="comment-container">
                    <div class="profile-pic-container">
                         <img src="/img/profile-pics/1.jpg" alt="profile-picture">
                    </div>
                    <div class="comment-details">
                         <div class="comment-sub-details">
                              <div class="author-name">Rob Hope</div>
                              <p class="interpoint">&#183;</p>
                              <div class="timestamp">
                                   45 min ago
                              </div>
                         </div>
                         <div class="comment-text-container">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem. Lorem ipsum
                                   dolor sit amet consectetur adipisicing elit. Harum dolor in quos doloribus
                                   voluptatibus vel. Minima incidunt modi itaque! Et sunt autem modi id eius, dolor ab
                                   ut a impedit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
                                   dignissimos ipsam ab temporibus et ratione reiciendis natus quam fugit harum a
                                   exercitationem voluptate optio culpa deleniti voluptates, atque vero repudiandae!</p>
                         </div>
                         <div class="comment-options-container">
                              <div class="upvote-container">
                                   <p>&#x25B2;</p>
                                   <p>Upvote</p>
                              </div>
                              <div class="reply-container">
                                   <p>Reply</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>

</html>